.footer {
	background: #000000;
}

.footer-container{
	max-width: 1200px;
	padding: 120px 20px 60px 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 100px;
   align-items: center;
   
}

.footer-texto{
	font-size: 1.5rem;
	line-height: 1.33;
	color: #cccccc;
}

.footer-contato li{
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.1;
	color: #ffffff;
	margin-bottom: 30px;
	
}

.footer-contato{
	position: relative;
}

.insta::before{
	width: 30px;
	height: 30px;
	background: url("/img/instagram.svg") no-repeat center;
	position: absolute;
	content: '';
	display: block;
    left: -40px;
	top: 150px;
}



.footer-contato li a{
	color: #ffffff;
}

.footer-copy{
	grid-column: 1 / -1;
	font-size: 1.25rem;
	color: #8f8f8f;
}

@media (max-width: 800px){
	.footer-container{
		grid-template-columns: 1fr;
		gap: 40px;
	}
	.footer-contato li{
		font-size: 1.5rem;
	}
	.insta::before{
		position: inherit;
	}
}










